;https://www.ncbi.nlm.nih.gov/books/NBK56068/table/summarytables.t3/?report=objectonly
[
 
 {:nih.dri.group/range "0-0.5"
  :nih.dri.group/category "Infants"
  :nih.dri.group/min-age 0.0
  :nih.dri.group/max-age 0.5
  :nih.dri.group/elements
  [
   {:nih.dri.nutr/name "Calcium"
    :nih.dri.nutr/units "mg"
    :nih.dri.nutr/rda? false
    :nih.dri.nutr/dval 200.0
    :nih.dri.nutr/usda-nutr-id "301"
    }
   
   {:nih.dri.nutr/name "Chromium"
    :nih.dri.nutr/units "μg"
    :nih.dri.nutr/rda? false
    :nih.dri.nutr/dval 0.2
    }
   
   {:nih.dri.nutr/name "Copper"
    :nih.dri.nutr/units "μg"
    :nih.dri.nutr/rda? false
    :nih.dri.nutr/dval 200.0
    :nih.dri.nutr/usda-nutr-id "312"
    }
   
   {:nih.dri.nutr/name "Fluoride"
    :nih.dri.nutr/units "mg"
    :nih.dri.nutr/rda? false
    :nih.dri.nutr/dval 0.01
    :nih.dri.nutr/usda-nutr-id "313"
    }
   
   {:nih.dri.nutr/name "Iodine"
    :nih.dri.nutr/units "μg"
    :nih.dri.nutr/rda? false
    :nih.dri.nutr/dval 110.0
    }
   
   {:nih.dri.nutr/name "Iron"
    :nih.dri.nutr/units "mg"
    :nih.dri.nutr/rda? false
    :nih.dri.nutr/dval 0.27
    :nih.dri.nutr/usda-nutr-id "303"
    }
   
   {:nih.dri.nutr/name "Magnesium"
    :nih.dri.nutr/units "mg"
    :nih.dri.nutr/rda? false
    :nih.dri.nutr/dval 30.0
    :nih.dri.nutr/usda-nutr-id "304"
    }
   
   {:nih.dri.nutr/name "Manganese"
    :nih.dri.nutr/units "mg"
    :nih.dri.nutr/rda? false
    :nih.dri.nutr/dval 0.003
    :nih.dri.nutr/usda-nutr-id "315"
    }
   
   {:nih.dri.nutr/name "Molybdenum"
    :nih.dri.nutr/units "μg"
    :nih.dri.nutr/rda? false
    :nih.dri.nutr/dval 2.0
    }
   
   {:nih.dri.nutr/name "Phosphorus"
    :nih.dri.nutr/units "mg"
    :nih.dri.nutr/rda? false
    :nih.dri.nutr/dval 100.0
    :nih.dri.nutr/usda-nutr-id "305"
    }
   
   {:nih.dri.nutr/name "Selenium"
    :nih.dri.nutr/units "μg"
    :nih.dri.nutr/rda? false
    :nih.dri.nutr/dval 15.0
    :nih.dri.nutr/usda-nutr-id "317"
    
    }
   
   {:nih.dri.nutr/name "Zinc"
    :nih.dri.nutr/units "mg"
    :nih.dri.nutr/rda? false
    :nih.dri.nutr/dval 2.0
    :nih.dri.nutr/usda-nutr-id "309"
    }
   
   {:nih.dri.nutr/name "Potassium"
    :nih.dri.nutr/units "g"
    :nih.dri.nutr/rda? false
    :nih.dri.nutr/dval 0.4
    :nih.dri.nutr/usda-nutr-id "306"
    }
   
   {:nih.dri.nutr/name "Sodium"
    :nih.dri.nutr/units "g"
    :nih.dri.nutr/rda? false
    :nih.dri.nutr/dval 0.12
    :nih.dri.nutr/usda-nutr-id "307"
    
    }
   
   {:nih.dri.nutr/name "Chloride"
    :nih.dri.nutr/units "g"
    :nih.dri.nutr/rda? false
    :nih.dri.nutr/dval 0.18
    
    }
   
   ]}
 
 {:nih.dri.group/range "31-50"
  :nih.dri.group/category "Males"
  :nih.dri.group/min-age 31.0
  :nih.dri.group/max-age 50.0
  :nih.dri.group/elements

  [{:nih.dri.nutr/name "Calcium"
    :nih.dri.nutr/units "mg"
    :nih.dri.nutr/rda? true
    :nih.dri.nutr/dval 1000.0
    :nih.dri.nutr/usda-nutr-id "301"}

   {:nih.dri.nutr/name "Chromium"
    :nih.dri.nutr/units "μg"
    :nih.dri.nutr/rda? false
    :nih.dri.nutr/dval 35.0}

   {:nih.dri.nutr/name "Copper"
    :nih.dri.nutr/units "μg"
    :nih.dri.nutr/rda? true
    :nih.dri.nutr/dval 900.0
    :nih.dri.nutr/usda-nutr-id "312"}

   {:nih.dri.nutr/name "Fluoride"
    :nih.dri.nutr/units "mg"
    :nih.dri.nutr/rda? false
    :nih.dri.nutr/dval 4.0
    :nih.dri.nutr/usda-nutr-id "313"}

   {:nih.dri.nutr/name "Iodine"
    :nih.dri.nutr/units "μg"
    :nih.dri.nutr/rda? true
    :nih.dri.nutr/dval 150.0}

   {:nih.dri.nutr/name "Iron"
    :nih.dri.nutr/units "mg"
    :nih.dri.nutr/rda? true
    :nih.dri.nutr/dval 8.0
    :nih.dri.nutr/usda-nutr-id "303"}

   {:nih.dri.nutr/name "Magnesium"
    :nih.dri.nutr/units "mg"
    :nih.dri.nutr/rda? true
    :nih.dri.nutr/dval 420.0
    :nih.dri.nutr/usda-nutr-id "304"}

   {:nih.dri.nutr/name "Manganese"
    :nih.dri.nutr/units "mg"
    :nih.dri.nutr/rda? false
    :nih.dri.nutr/dval 2.3
    :nih.dri.nutr/usda-nutr-id "315"}

   {:nih.dri.nutr/name "Molybdenum"
    :nih.dri.nutr/units "μg"
    :nih.dri.nutr/rda? true
    :nih.dri.nutr/dval 45.0}

   {:nih.dri.nutr/name "Phosphorus"
    :nih.dri.nutr/units "mg"
    :nih.dri.nutr/rda? true
    :nih.dri.nutr/dval 700.0
    :nih.dri.nutr/usda-nutr-id "305"}

   {:nih.dri.nutr/name "Selenium"
    :nih.dri.nutr/units "μg"
    :nih.dri.nutr/rda? true
    :nih.dri.nutr/dval 55.0
    :nih.dri.nutr/usda-nutr-id "317"}

   {:nih.dri.nutr/name "Zinc"
    :nih.dri.nutr/units "mg"
    :nih.dri.nutr/rda? true
    :nih.dri.nutr/dval 11.0
    :nih.dri.nutr/usda-nutr-id "309"}

   {:nih.dri.nutr/name "Potassium"
    :nih.dri.nutr/units "g"
    :nih.dri.nutr/rda? false
    :nih.dri.nutr/dval 4.7
    :nih.dri.nutr/usda-nutr-id "306"}

   {:nih.dri.nutr/name "Sodium"
    :nih.dri.nutr/units "g"
    :nih.dri.nutr/rda? false
    :nih.dri.nutr/dval 1.5
    :nih.dri.nutr/usda-nutr-id "307"}

   {:nih.dri.nutr/name "Chloride"
    :nih.dri.nutr/units "g"
    :nih.dri.nutr/rda? false
    :nih.dri.nutr/dval 2.3}]

  :nih.dri.group/vitamins
  [
   {:nih.dri.nutr/name "Vitamin A"
    :nih.dri.nutr/units "μg"
    :nih.dri.nutr/rda? true
    :nih.dri.nutr/dval 700
    :nih.dri.nutr/usda-nutr-id "320"}
   
   {:nih.dri.nutr/name "Vitamin C"
    :nih.dri.nutr/units "mg"
    :nih.dri.nutr/rda? true
    :nih.dri.nutr/dval 75
    :nih.dri.nutr/usda-nutr-id "401"}
   
   {:nih.dri.nutr/name "Vitamin D"
    :nih.dri.nutr/units "μg"
    :nih.dri.nutr/rda? true
    :nih.dri.nutr/dval 15
    :nih.dri.nutr/usda-nutr-id "328"}
   
   {:nih.dri.nutr/name "Vitamin E"
    :nih.dri.nutr/units "mg"
    :nih.dri.nutr/rda? true
    :nih.dri.nutr/dval 15
    :nih.dri.nutr/usda-nutr-id "573"}
   
   {:nih.dri.nutr/name "Vitamin K"
    :nih.dri.nutr/units "μg"
    :nih.dri.nutr/rda? false
    :nih.dri.nutr/dval 90
    :nih.dri.nutr/usda-nutr-id "430"}
   
   {:nih.dri.nutr/name "Thiamin"
    :nih.dri.nutr/units "mg"
    :nih.dri.nutr/rda? true
    :nih.dri.nutr/dval 1.1
    :nih.dri.nutr/usda-nutr-id "404"}
   
   {:nih.dri.nutr/name "Riboflavin"
    :nih.dri.nutr/units "mg"
    :nih.dri.nutr/rda? true
    :nih.dri.nutr/dval 1.1
    :nih.dri.nutr/usda-nutr-id "405"}
   
   {:nih.dri.nutr/name "Niacin"
    :nih.dri.nutr/units "mg"
    :nih.dri.nutr/rda? true
    :nih.dri.nutr/dval 14
    :nih.dri.nutr/usda-nutr-id "406"}
   
   {:nih.dri.nutr/name "Vitamin B6"
    :nih.dri.nutr/units "mg"
    :nih.dri.nutr/rda? true
    :nih.dri.nutr/dval 1.3
    :nih.dri.nutr/usda-nutr-id "415"}
   
   {:nih.dri.nutr/name "Folate, food"
    :nih.dri.nutr/units "μg"
    :nih.dri.nutr/rda? true
    :nih.dri.nutr/dval 400
    :nih.dri.nutr/usda-nutr-id "432"}
   
   {:nih.dri.nutr/name "Vitamin B12"
    :nih.dri.nutr/units "μg"
    :nih.dri.nutr/rda? true
    :nih.dri.nutr/dval 2.4
    :nih.dri.nutr/usda-nutr-id "418"}
   
   {:nih.dri.nutr/name "Pantothenic Acid"
    :nih.dri.nutr/units "mg"
    :nih.dri.nutr/rda? false
    :nih.dri.nutr/dval 5
    :nih.dri.nutr/usda-nutr-id "410"}
   
  ;  {:nih.dri.nutr/name "Biotin"
  ;   :nih.dri.nutr/units ""
  ;   :nih.dri.nutr/rda? false
  ;   :nih.dri.nutr/dval 30
  ;   :nih.dri.nutr/usda-nutr-id ""}
   
   {:nih.dri.nutr/name "Choline"
    :nih.dri.nutr/units "mg"
    :nih.dri.nutr/rda? false
    :nih.dri.nutr/dval 425
    :nih.dri.nutr/usda-nutr-id "421"}
   ]
  :nih.dri.group/macronutrients
  []
  }
 
 
 ]